.booking-payment 
    .payment-radio(style="height: 80px;")
        input.payment-radio__input.visually-hidden(
            type="radio",
            name="booking-payment", 
            id="booking-payment-full",
            checked
        )
        label.payment-radio__label(for="booking-payment-full")
            .payment-radio__label-title 
                | Pay in full
            .payment-radio__label-text
                | Pay the total and you are all set
            .payment-radio__custom-input

    .payment-radio(style="height: 100px;")
        input.payment-radio__input.visually-hidden(
            type="radio",
            name="booking-payment", 
            id="booking-payment-part",
        )
        label.payment-radio__label(for="booking-payment-part")
            .payment-radio__label-title
                | Pay part now, part later
            .payment-radio__label-text
                | Pay $207.43 now, and the rest ($207.43) will be automatically charged to the same payment method on Nov 14, 2022. No extra fees.
            .payment-radio__custom-input

    a.booking-payment__link(href="#!") More info