section.account-tabs(tabs="account")
    .container
        .account-tabs__tabs-wrapper 
            +tabs(
                [
                    {title: 'Account', group: 'account', tab: 'account', active: true}, 
                    {title: 'Tickets & Bookings', group: 'account', tab: 'bookings'},
                    {title: 'Payment methods', group: 'account', tab: 'payment'}, 
                ]
            )
        
        .account-tabs__content(
            tab-content="account",
            tab-group="account"
        )
            h2.account-tabs__content-title Account
            ul.account-info
                -
                    var items = [
                        {name: 'Name', value: 'John Doe', buttons: ['change']},
                        {name: 'Email', value: 'John.doe@gmail.com', buttons: ['add', 'change']},
                        {name: 'Password', value: '************', buttons: ['change']},
                        {name: 'Phone number', value: '+1 000-000-0000', buttons: ['change']},
                        {name: 'Address', value: 'St 32 main downtown, Los Angeles, California, USA', buttons: ['change']},
                        {name: 'Date of birth', value: '01-01-1992', buttons: ['change']},
                    ]

                each item in items
                    li.account-info__item
                        .account-info__item-left
                            .account-info__item-name #{item.name}
                            .account-info__item-value #{item.value}
                        .account-info__item-right
                            if (item.buttons)
                                each button in item.buttons
                                    if (button === 'add')
                                        +button('Add another email', '', {id: '#add-circle-icon', width: 16, height: 16}, 'border', '')
                                    if (button === 'change')
                                        +button('Change', '140px', {id: '#edit-icon', width: 16, height: 16}, 'border', '')

        .account-tabs__content(
            tab-content="bookings",
            tab-group="account",
            class="none",
            tabs="bookings"
        )
            h2.account-tabs__content-title 
                | Tickets/Bookings
            .account-bookings
                +tabs(
                    [
                        {
                            title: 'Flights', 
                            icon: {width: 24, height: 24, id: '#flight-icon'}, 
                            group: 'bookings', 
                            tab: "flights", 
                            active: true
                        }, 
                        {
                            title: 'Stays', 
                            icon: {width: 24, height: 24, id: '#hotel-icon'}, 
                            group: 'bookings', 
                            tab: "hotels", 
                            active: false
                        }
                    ]
                )
                
                .account-bookings__content(
                    tab-content="flights",
                    tab-group="bookings"
                )
                    - let i = 0
                    while (i < 4)
                        +account-booking-card('flight')
                        - i++

                .account-bookings__content(
                    tab-content="hotels",
                    tab-group="bookings"
                )
                    - let g = 0
                    while (g < 1)
                        +account-booking-card('hotel')
                        - g++
        
        .account-tabs__content(
            tab-content="payment",
            tab-group="account",
            class="none"
        )
            h2.account-tabs__content-title Payment methods
            .account-payment
                .account-payment__card 
                    .account-payment__card-top
                        .account-payment__card-number
                            span **** **** ****
                            span 4321
                        button.account-payment__card-remove-button
                            +use-svg(24, 24, '#remove-icon')
                    .account-payment__card-bottom
                        .account-payment__card-valid-thru
                            span Valid Thru
                            span 02/27
                        .account-payment__card-logo
                            +use-svg(52, 52, '#visa-icon')

                .account-payment__add-card
                    +add-card()