//- +button('Show Filghts', '100%', {width: 16, height: 16, id: '#send-icon'}, 'light', 'bold', '40px')

mixin button(text, width = '', icon = '', style = '', bold = '', height = '')
    button.button(
        type="button", 
        style= width !== '' ? `width: ${width};` : false,
        class= style !== '' ? 'button--' + style : false,
        class= bold !== '' ? 'button--' + bold : false
        class= height === '40px' ? 'button--h40' : false
    )
        if icon
            .button__icon
                svg(
                    width= icon.width, 
                    height= icon.height
                )
                    use(href= icon.id)
        | #{text}


//- +square-button('48px', {width: 16, height: 16, id: '#send-icon'}, 'border')

mixin square-button(size = '48px', icon = {width: 16, height: 16, id: '#send-icon'}, style = '')
    button.square-button(
        type="button", 
        style= size != '' ? `width: ${size}; height: ${size};` : false,
        class= style != '' ? 'square-button--' + style : false,
    )
        +use-svg(icon.width, icon.height, icon.id)

//- +login-with-button('', 'calc((100% - 2 * 16px) / 3)', {id: '#arrow-down', width: 24, height: 24})

mixin login-with-button(text, width = '', icon = '')
    button.login-with-button(
        type="button",
        style= width != '' ? `width: ${width};` : false,
    )
        if icon
            .button__icon
                svg(
                    width= icon.width, 
                    height= icon.height
                )
                    use(href= icon.id)
        | #{text}