//- +filter-item('Airlines', 'row')

mixin filter-item(title, direction = 'column')
    .filter-item
        .filter-item__header
            h4.filter-item__title #{title}
            button.filter-item__button(
                type='button',
                accordeon-button= title
            )
                +use-svg(24, 24, '#arrow-down')
        .filter-item__content(
            class='filter-item__content--' + direction
            accordeon-content= title
        )
            block
