//- +header-nav('main')
//- +header-nav('inner')

mixin header-nav(page = 'main', login = true)
    .header-nav(class= page==='inner' ? 'header-nav--inner-page' : false)
        .header-nav__left
            a.header-nav__item(href="#!")
                +use-svg(24, 24, '#flight-icon')
                | Find flight 
            a.header-nav__item(href="#!")
                +use-svg(24, 24, '#hotel-icon')
                | Find stays 
        
        .header-nav__right

            if (!login)
                a.header-nav__item(href="#!")
                    |Login
                a.header-nav__sign-up(
                    href="#!", 
                    class= page==='inner' ? 'header-nav__sign-up--inner-page' : false
                )
                    | Sign Up

            else
                .header-nav__item-wrapper
                    a(href="#!").header-nav__item
                        +use-svg(24, 24, '#heart-icon')
                        | Favourites
                    span |

                .header-nav__item-wrapper
                    button.header-nav__item(
                        type="button",
                        dropdown-button="user"
                    )
                        .header-nav__avatar
                            .header-nav__avatar-image
                                img(src="./../../img/account/avatar.jpg", alt="user-avatar")
                            .header-nav__avatar-button
                                +use-svg(10, 10, '#arrow-down')
                        | John D.

                    include ./../blocks/user-droplist.pug
        
        .header-nav__logo
            +logo(`header-${page}`)

        