//- +input('From - To', 'Lahore - Karachi', '340px', {id: '#swap-icon', width: 24, height: 24})

mixin input(label, value, width = '', icon = '')
    .input(style= width != '' ? `width: ${width};` : false)
        .input__label #{label}
        input.input__field(
            class= classname, 
            type="text",
            value= value, 
        )
        if icon
            .input__icon
                svg(
                    width= icon.width, 
                    height= icon.height
                )
                    use(href= icon.id)