//- +input('From - To', 'Lahore - Karachi', '340px', {id: '#swap-icon', width: 24, height: 24})

mixin input(label, value, width = '', icon = '', attribute = '')
    .input(style= width != '' ? `width: ${width};` : false)
        input.input__field(
            class= classname, 
            type="text",
            value= value, 
        )
        
        .input__label #{label}
        
        if icon
            button.input__icon(
                type='button',
                data-button= attribute !== '' ? attribute : false
            )
                svg(
                    width= icon.width, 
                    height= icon.height
                )
                    use(href= icon.id) 