//- +search-form('full', 'visible', 'hidden')
//- +search-form('full', 'visible', 'none')
//- +search-form('short', 'visible', 'none')

mixin search-form(design, flights = 'visible', hotels = 'hidden')
    .search-form(
        class= design === 'full' ? 'search-form--full' : false,
        tabs-container
    )

        //- form heading
        if (design === 'full')
            if (flights !== 'none' && hotels !== 'none')
                .search-form__tabs
                    button.search-form__link(
                        type="button",
                        tab-button="flight-search"
                    ) 
                        +use-svg(24, 24,'#flight-icon')
                        | Flights
                    button.search-form__link(
                        type="button",
                        tab-button="hotel-search"
                    ) 
                        +use-svg(24, 24,'#hotel-icon')
                        | Stays
            else
                .search-form__title
                    | Where are you flying? 

        //- flight form content
        if (flights !== 'none')
            .search-form__content(
                tab-content="flight-search"
                class= flights === 'hidden' ? 'none' : false
            )

                //- flight form fields
                .search-form__fields
                    if (design === 'full')
                        - var inputWidth = 'calc((100% - 140px - 3 * 24px) / 3)'
                    else if (design === 'short')
                        - var inputWidth = 'calc((100% - 140px - 56px - 4 * 24px) / 3)'

                    +input(
                        'From - To', 
                        'Lahore - Karachi', 
                        inputWidth, 
                        {id: '#swap-icon', width: 24, height: 24}
                    )
                    +input(
                        'Trip', 
                        'Return', 
                        '140px', 
                        {id: '#arrow-down', width: 24, height: 24}
                    )
                    +input(
                        'Depart - Return', '07 Nov 22 - 13 Nov 22', 
                        'calc((100% - 140px - 3 * 24px) / 3)' 
                    )
                    +input(
                        'Passenger - Class', 
                        '1 Passenger, Economy', 
                        'calc((100% - 140px - 3 * 24px) / 3)' 
                    )
                    if (design === 'short')
                        +square-button('56px', {id: '#send-icon', width: 24, height: 24}, '')

                //- flight form buttons
                if (design === 'full')
                    .search-form__buttons 
                        button.search-form__add-button(type="button") 
                            +use-svg(16, 16, "#add-icon")
                            | Add Promo Code

                        +button('Show Filghts', '', {id: '#send-icon', width: 16, height: 16})

        //- hotel form content 
        if (hotels !== 'none')
            .search-form__content(
                tab-content="hotel-search"
                class= hotels === 'hidden' ? 'none' : false
            )
                
                //- hotel form fields
                .search-form__fields
                    if (design === 'full')
                        - var inputWidth = 'calc(100% - 3 * 240px - 3 * 16px)'
                    else if (design === 'short')
                        - var inputWidth = 'calc(100% - 3 * 240px - 3 * 16px - 56px)'

                    +input(
                        'Enter Destination', 
                        'Istanbul, Turkey', 
                        inputWidth
                    )
                    +input(
                        'Check In', 
                        'Fri 12/2', 
                        '240px', 
                        {id: '#arrow-down', width: 24, height: 24}
                    )
                    +input(
                        'Check Out', 
                        'Sun 12/4', 
                        '240px', 
                        {id: '#arrow-down', width: 24, height: 24}
                    )
                    +input(
                        'Rooms & Guests', 
                        '1 room, 2 guests', 
                        '240px'
                    )
                    if (design === 'short')
                        +square-button('56px', {id: '#send-icon', width: 24, height: 24}, '')
                
                //- hotel form buttons
                if (design === 'full')
                    .search-form__buttons 
                        button.search-form__add-button(type="button") 
                            +use-svg(16, 16, "#add-icon")
                            | Add Promo Code
                        +button('Show Places', '', {id: '#send-icon', width: 16, height: 16})